<!DOCTYPE html>
<html>
<head>
  <title>#loose</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container-fluid navbar-fixed-bottom">
    <form class="form-group chat-input">
      <div class="row">
        <div class="col-xs-3">
          <input type="text" class="form-control nick" placeholder="Nick">
        </div>
        <div class="col-xs-9">
          <div class="input-group">
            <input type="text" class="form-control message" placeholder="Chat...">
            <span class="input-group-btn">
              <input type="submit" class="btn btn-default" value="Send">
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>

</body>
</html>
